<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Campeonato</title>
</h:head>
<h:body>
	<h2 style="margin-top: 0">Cadastro de Campeonato</h2>
	<h:form id="formCampeonato">
	
		<h:panelGrid columns="2">
		
			<p:outputLabel value="Nome: " />
			<p:inputText value="#{campeonatoMB.novoCampeonato.nome}" />

			<p:outputLabel for="inicioi" value="Data de inicio da inscricao:" />
			<p:calendar id="inicioi"
				value="#{campeonatoMB.novoCampeonato.dataInicioInscricao}"
				pattern="dd-MM-yyyy" mask="true" />

			<p:outputLabel for="fimi" value="Data do fim da inscricao:" />
			<p:calendar id="fimi"
				value="#{campeonatoMB.novoCampeonato.dataFimInscricao}"
				pattern="dd-MM-yyyy" mask="true" />

			<p:outputLabel for="inicioc" value="Data do inicio do campeonato:" />
			<p:calendar id="inicioc"
				value="#{campeonatoMB.novoCampeonato.dataInicioCampeonato}"
				pattern="dd-MM-yyyy" mask="true" />

			<p:outputLabel for="fimc" value="Data do fim do campeonato:" />
			<p:calendar id="fimc"
				value="#{campeonatoMB.novoCampeonato.dataFimCampeonato}"
				pattern="dd-MM-yyyy" mask="true" />

			<p:outputLabel value="ValorTaxa: " />
			<p:inputText value="#{campeonatoMB.novoCampeonato.valorTaxa}" />
		
		</h:panelGrid>
		
		<h:dataTable var="u" value="#{usuarioMB.novoUsuario}">  
	    	<h:column>  
	        	<h:commandLink id="Usuario" value="#{campeonatoMB.gerenciar(u)}" />  
	    	</h:column>  
		</h:dataTable> 
		
		
		<p:separator />
		<p:commandButton value="Salvar"  icon="ui-icon-disk" 
			action="#{campeonatoMB.salvar}" update=":formCampeonato" />
		
		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />	


	</h:form>

</h:body>
</html>
