<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Campeonatos</title>
</h:head>
<h:body>
<h2>Campeonatos</h2>
<p:outputLabel style="margin-top: 0" value="#{usuarioMB.novoUsuario.nome}" /> <br />
<!-- <p:outputLabel style="margin-top: 0" value="#{usuarioMB.novoUsuario.email}" />-->

<h:form id="formCampeonatoTabela">
<p:dataTable var="user" value="#{usuarioMB.novoUsuario.campeonatos}" rows="10" id="tabela"
			paginator="true" editable="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15">
			
			<p:ajax event="rowEdit" listener="#{campeonatoMB.update}" update="tabela" />


			<p:column headerText="Nome">
				<p:cellEditor>
				   	<f:facet name="output">
						<h:outputText value="#{user.nome}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{user.nome}" style="width:100%" />
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column headerText="Data de inicio da inscricao">
				<h:outputText value="#{user.dataInicioInscricao}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>

			<p:column headerText="Data do fim da inscricao">
				<h:outputText value="#{user.dataFimInscricao}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>

			<p:column headerText="Data do inicio do campeonato:">
				<h:outputText value="#{user.dataInicioCampeonato}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>

			<p:column headerText="Data do fim do campeonato">
				<h:outputText value="#{user.dataFimCampeonato}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>

			<p:column headerText="Valor da Taxa:">
				<p:cellEditor>
				   	<f:facet name="output">
						<h:outputText value="#{user.valorTaxa}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{user.valorTaxa}" style="width:100%" />
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<f:facet name="paginatorTopLeft">
				<p:commandButton type="button" icon="fa fa-sync" />
			</f:facet>

			<f:facet name="paginatorBottomRight">
				<p:commandButton type="button" icon="fa fa-cloud-upload" />
			</f:facet>

			
			<p:column style="width:32px">
           		<p:rowEditor />
       	   	</p:column>

		
		</p:dataTable>
		<p:separator />
		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="usuariotabela.xhtml" />
		<p:commandButton value="Novo" icon="ui-icon-plus"
			action="campeonato.xhtml" />		
	</h:form>

</h:body>
</html>
