<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cartao</title>
</h:head>
<h:body>
<h2 style="m argin-top:0">Cartao</h2>
	<h:form id="formCartao">
		


			<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
				<p:outputLabel for="cartao" value="Cartao:" />
				<p:selectOneRadio id="cartao" value="#{cartaoMB.setCartao(newcartao.tipo)}">
					<f:selectItem itemLabel="Vermelho" itemValue="VERMELHO" />
					<f:selectItem itemLabel="Amarelo" itemValue="AMARELO" />
				</p:selectOneRadio>
			</h:panelGrid>
			<h:panelGrid>
			<p:column>
			<p:outputLabel value="Tempo: " />
			<p:inputText value="#{cartaoMB.setCartao(newcartao.setTempo(tempo))}" />
			</p:column>
			<p:column>
			<p:outputLabel value="Relato do Juiz: " />
			<p:inputText value="#{cartaoMB.setRelatoJuiz(relatoJuiz)}" />
			</p:column>
			</h:panelGrid>
		
		<p:separator />
		<p:commandButton value="Salvar"  icon="ui-icon-disk" 
			action="#{cartaoMB.salvar}" update=":formCartao" />

		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />
	
</h:form>
</h:body>
</html>
