<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
xmlns:f="http://xmlns.jcp.org/jsf/core">
 <h:head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Categorias</title>
 </h:head>
 <h:body>
 <h2 style="margin-top:0">Categorias</h2>
 <h:form id="formCategoriaTabela">
<p:dataTable var="user" value="#{categoriaMB.categorias}" rows="10"
     						paginator = "true"
     						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
     					    rowsPerPageTemplate="5,10,15">
     					    
     					    
     					    
	       <p:column headerText="Nome">
	       		<h:outputText value="#{user.nome}"/>
	       </p:column>
	       
	       <p:column headerText="Nascidos a partir de">
	       		<h:outputText value="#{user.nascidosApartirDe}"/>
	       </p:column>
	    
	    	<p:column headerText="Campeonato" >
						<h:outputText value="#{user.campeonato.nome}"/>
						<p:selectOneMenu value="#{user.campeonato}" lazy="true" style="width:125px">
							<f:selectItems value="#{campeonatoMB.campeonatos}" var="camps"
								itemLabel="#{camps.nome}" itemValue="#{camps}" />
						</p:selectOneMenu>
			</p:column>
			
			
			
	    
	        <p:column headerText="Mín. de Jogadores">
	       		<h:outputText value="#{user.minJogadores}"/>
	       </p:column>
	       
	        <p:column headerText="Máx. de Jogadores">
	       		<h:outputText value="#{user.maxJogadores}"/>
	       </p:column>
	       
	       <p:column headerText="Sexo">
	       		<h:outputText value="#{user.sexo}"/>
	       </p:column>
	 
	     
     <f:facet name="paginatorTopLeft">
            <p:commandButton type="button" icon="fa fa-sync" />
       </f:facet>
 
       <f:facet name="paginatorBottomRight">
            <p:commandButton type="button" icon="fa fa-cloud-upload" />
        </f:facet>
 
 
	
     </p:dataTable>
 	<p:separator />
     <p:commandButton value="Voltar"
     				  icon="ui-icon-arrowrefresh-1-w"
     				  action="menu.xhtml" />
     <p:commandButton value="Nova" icon="ui-icon-plus"
			action="categoria.xhtml" />	
</h:form>
</h:body>
</html>