<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
xmlns:f="http://xmlns.jcp.org/jsf/core">
 <h:head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Categoria</title>
</h:head>
 <h:body>
 <h2 style="margin-top:0">Cadastro de Categoria</h2>
 <h:form id="formCategoria">
     <h:panelGrid columns="2">
     
           
           <p:outputLabel value="Nome: "/>
           <p:inputText value="#{categoriaMB.categoria.nome}"/>   
           
           <p:outputLabel value="Nascidos a partir de: "/>
           <p:inputText value="#{categoriaMB.categoria.nascidosApartirDe}"/>   
           
           
           <p:outputLabel value = "Campeonato: " />
           <p:selectOneMenu value="{campeonatoMB.campeonato}">
           <f:selectItem itemLabel="Selecionar" itemValue="" />
           <f:selectItems value="#{campeonatoMB.campeonatos}" var="aux"
						itemValue="#{aux}" itemLabel="#{aux.nome}" />
			</p:selectOneMenu>
			
					
				
           <p:outputLabel value="Mínimo de jogadores: "/>
           <p:inputText value="#{categoriaMB.categoria.minJogadores}"/>
           
           <p:outputLabel value="Máximo de jogadores: "/>
           <p:inputText value="#{categoriaMB.categoria.maxJogadores}"/>
           
           <p:outputLabel value="Sexo: "/>
           <p:inputText value="#{categoriaMB.categoria.sexo}"/>
           
         
     </h:panelGrid>     
     <p:separator />
     <p:commandButton value="Salvar"
     				   icon="ui-icon-disk" 
     				  action="#{categoriaMB.salvar}"
     				  update=":formCategoria"	/>
     				  
     				  
      <p:commandButton value="Voltar"
     				  icon="ui-icon-arrowrefresh-1-w"
     				  action="menu.xhtml"		/>				  
     
     
 
 </h:form>

 </h:body>
</html>
