<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
xmlns:f="http://xmlns.jcp.org/jsf/core">
 <h:head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Equipe</title>
 </h:head>
 <h:body>
 <h2 style="margin-top:0">Cadastro de Equipe</h2>
 <h:form id="formEquipe">
     <h:panelGrid columns="2">
     
           
           <p:outputLabel value="Nome: "/>
           <p:inputText value="#{equipeMB.novaEquipe.nome}"/>   
              
   		   <p:outputLabel  for="fundacao" value="Data de Fundação:" />
           <p:calendar id="fundacao" value="#{equipeMB.novaEquipe.dataFundacao}" pattern="dd-MM-yyyy" mask="true" />
           
           <p:outputLabel value="Cidade: "/>
           <p:inputText value="#{equipeMB.novaEquipe.cidade}"/>
     </h:panelGrid>     
     
     <h:dataTable var="u" value="#{usuarioMB.novoUsuario}">  
	    	<h:column>  
	        	<h:commandLink id="Usuario" value="#{equipeMB.gerenciar(u)}" />  
	    	</h:column>  
	</h:dataTable> 
     
     <p:separator />
     <p:commandButton value="Salvar"
     				   icon="ui-icon-disk" 
     				  action="#{equipeMB.salvar}"
     				  update=":formEquipe"	/>
     
     <p:commandButton value="Voltar"
     				  icon="ui-icon-arrowrefresh-1-w"
     				  action="menu.xhtml"	/>				  
     
     
   
 </h:form>

 </h:body>
</html>
