<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Fase</title>
</h:head>
<h:body>
	<h2 style="margin-top: 0">Fase</h2>
	<h:form id="formFase">
		<h:panelGrid columns="2">

		
			<p:outputLabel for="inicioi" value="Data de inicio:" />
			<p:calendar id="inicioi"
				value="#{faseMB.novaFase.dataInicio}"
				pattern="dd-MM-yyyy" mask="true" />

			<p:outputLabel for="fimi" value="Data do fim:" />
			<p:calendar id="fimi"
				value="#{faseMB.novaFase.dataFim}"
				pattern="dd-MM-yyyy" mask="true" />
	<p:separator />
				<!--Falta Categoria:Categoira e Lista de Grupos  -->
			<p:outputLabel 	value="Numero:" />
			<p:inputText value="#{faseMB.novaFase.numero}" />
		
		</h:panelGrid>
		<p:separator />
		<p:commandButton value="Salvar"  icon="ui-icon-disk" 
			action="#{faseMB.salvar}" update=":formFase" />
		
		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />	


	</h:form>

</h:body>
</html>
