<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Gerenciamento</title>
	</h:head>
	
	<h:body>
		<h2 style="m argin-top:0">Gerenciamento</h2>
		<h:form id="formGerenciar">
			
			<p:commandButton value="Novo Campeonato" action="campeonato.xhtml" />
			
			<p:commandButton value="Mostrar Campeonatos" action="campeonatotabela.xhtml" />			
			
			<p:commandButton value="Nova Equipe" action="equipe.xhtml" />
			
			<p:commandButton value="Mostrar Equipes" action="equipetabela.xhtml" />		
			
		</h:form>
	</h:body>
</html>