<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Gol</title>
</h:head>
<h:body>
	<h2 style="margin-top: 0">Gol</h2>
	<h:form id="formCategoria">



		<p:outputLabel value="Time: " />
		<p:selectOneMenu value="#{golMB.gol}" />
		<f:selectItem itemLabel="Selecionar" />
		<f:selectItems value="#{golMB.times}" />

		<p:outputLabel value="Tempo: " />
		<p:inputText value="#{golMB.gol.tempo}" />


		<p:outputLabel value="Penalti: " />
		<p:selectOneMenu value="#{golMB.gol.penalty}" />
		<f:selectItem itemLabel="Selecionar" />
		<f:selectItems value="#{golMB.penaltys}" />


		<p:separator />

		<p:commandButton value="Salvar" icon="ui-icon-disk"
			action="#{categoriaMB.salvar}" update=":formCategoria" />


		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />



	</h:form>

</h:body>
</html>
