<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Grupo</title>
</h:head>
<h:body>
	<h2 style="margin-top: 0">Grupo</h2>
	<h:form id="formGrupo">
		<h:panelGrid columns="2">		

				<!--Falta Fase e Rodadas -->
				<p:separator />
			<p:outputLabel 	value="Nome:" />
			<p:inputText value="#{grupoMB.novoGrupo.nome}" />
				
			<p:outputLabel 	value="Numero:" />
			<p:inputText value="#{grupoMB.novoGrupo.numero}" />
		
		</h:panelGrid>
		<p:separator />
		<p:commandButton value="Salvar"  icon="ui-icon-disk" 
			action="#{grupoMB.salvar}" update=":formGrupo" />
		
		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />	


	</h:form>

</h:body>
</html>
