 <!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Inscricao</title>
</h:head>
<h:body>
<h2 style="margin-top: 0">Inscricao</h2>
<h:form id="formInscricaoTabela">
<p:dataTable var="user" value="#{inscricaoMB.inscricoes}" rows="10"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15">

			<p:column headerText="Numero">
				<h:outputText value="#{user.numero}" />
			</p:column>
			
			<p:column headerText="Pagamento">
				<h:outputText value="#{user.pagamento}" />
			</p:column>
			
			<p:column headerText="Validada">
				<h:outputText value="#{user.validada}" />
			</p:column>
			
			<p:column headerText="Categoria" >
						<h:outputText value="#{user.categoria.nome}"/>
						<p:selectOneMenu value="#{user.categoria}" lazy="true" style="width:125px">
							<f:selectItems value="#{categoriaMB.categorias}" var="x"
								itemLabel="#{x.nome}" itemValue="#{x}" />
						</p:selectOneMenu>
			</p:column>
			
			<p:column headerText="Equipe" >
						<h:outputText value="#{user.equipe.nome}"/>
						<p:selectOneMenu value="#{user.equipe}" lazy="true" style="width:125px">
							<f:selectItems value="#{equipeMB.equipes}" var="x"
								itemLabel="#{x.nome}" itemValue="#{x}" />
						</p:selectOneMenu>
			</p:column>


			<f:facet name="paginatorTopLeft">
				<p:commandButton type="button" icon="fa fa-sync" />
			</f:facet>

			<f:facet name="paginatorBottomRight">
				<p:commandButton type="button" icon="fa fa-cloud-upload" />
			</f:facet>
		
		</p:dataTable>
		<p:separator />
		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />
		<p:commandButton value="Novo" icon="ui-icon-plus"
			action="inscricao.xhtml" />		
	</h:form>

</h:body>
</html> 
