<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Inscricao</title>
</h:head>
<h:body>
	<h2 style="margin-top: 0">Inscricao</h2>
	<h:form id="formInscricao">	
			
			<p:outputLabel 	value="Numero:" />
			<p:inputText value="#{inscricaoMB.novaInscricao.numero}" />
			<br />
			
			<p:outputLabel 	value="Pagamento: (true/false)" /> <!-- Alterar para radio button -->
			<p:inputText value="#{inscricaoMB.novaInscricao.pagamento}" />
			
			<br />
			<p:outputLabel 	value="Validada: (true/false)" /> <!-- Alterar para radio button -->
			<p:inputText value="#{inscricaoMB.novaInscricao.validada}" />
			
			<br />
			<p:outputLabel value = "Categoria: " />
           <p:selectOneMenu value="{categoriaMB.categoria}">
           <f:selectItem itemLabel="Selecionar" itemValue="" />
           <f:selectItems value="#{categoriaMB.categorias}" var="aux"
						itemValue="#{aux}" itemLabel="#{aux.nome}" />
			</p:selectOneMenu>
			
			<br />
			<p:outputLabel value = "Equipe: " />
           <p:selectOneMenu value="{equipeMB.equipe}">
           <f:selectItem itemLabel="Selecionar" itemValue="" />
           <f:selectItems value="#{equipeMB.equipes}" var="aux"
						itemValue="#{aux}" itemLabel="#{aux.nome}" />
			</p:selectOneMenu>
		
		<p:separator />
		<p:commandButton value="Salvar"  icon="ui-icon-disk" 
			action="#{inscricaoMB.salvar}" update=":formInscricao" />
		
		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />	


	</h:form>

</h:body>
</html>
