<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Menu</title>
</h:head>
<h:body>
	<h:form id="formMenu">
	<h2 style="margin-top: 0" >Menu</h2>
		<p:menubar style="margin-top:20px">
			<p:submenu label="Usuário" icon="ui-icon-person">
					<p:submenu label="Usuários">
						<p:menuitem value="Cadastro/Edição" action="usuario.xhtml" icon="ui-icon-pencil" />
						<p:menuitem value="Mostrar" action="usuariotabela.xhtml" icon="ui-icon-contact"/>
					</p:submenu>
			</p:submenu>

			<p:submenu label="Campeonato" icon="ui-icon-radio-on">
					<p:submenu label="Campeonatos">
						<p:menuitem value="Cadastro/Edição" action="campeonato.xhtml" icon="ui-icon-pencil"/>
						<p:menuitem value="Mostrar" action="campeonatotabela.xhtml" icon="ui-icon-contact" />
						
					</p:submenu>
			</p:submenu>

			<p:submenu label="Categoria" icon=" ui-icon-tag">
					<p:submenu label="Categorias">
						<p:menuitem value="Cadastro/Edição" action="categoria.xhtml" icon="ui-icon-pencil" />
						<p:menuitem value="Mostrar" action="categoriatabela.xhtml" icon="ui-icon-contact" />
					</p:submenu>
					<p:submenu label="Fase">
								<p:menuitem value="Cadastro/Edição" action="fase.xhtml" icon="ui-icon-flag" />
								<p:menuitem value="Mostrar" action="fasetabela.xhtml" icon="ui-icon-flag" />
					</p:submenu>	
					<p:submenu label="Grupo">
								<p:menuitem value="Cadastro/Edição" action="grupo.xhtml" icon="ui-icon-flag" />
								<p:menuitem value="Mostrar" action="grupotabela.xhtml" icon="ui-icon-flag" />
					</p:submenu>
					<p:submenu label="Rodada">
								<p:menuitem value="Cadastro/Edição" action="rodada.xhtml" icon="ui-icon-flag" />
								<p:menuitem value="Mostrar" action="rodadatabela.xhtml" icon="ui-icon-flag" />
					</p:submenu>
			</p:submenu>

			<p:submenu label="Equipe" icon="ui-icon-flag">
					<p:submenu label="Equipes">
						<p:menuitem value="Cadastro/Edição" action="equipe.xhtml" icon="ui-icon-pencil" />
						<p:menuitem value="Mostrar" action="equipetabela.xhtml" icon="ui-icon-contact"/>
						<p:submenu label="Inscrição">
								<p:menuitem value="Cadastro/Edição" action="inscricao.xhtml" icon="ui-icon-flag" />
								<p:menuitem value="Mostrar" action="inscricaotabela.xhtml" icon="ui-icon-flag" />
						</p:submenu>
					</p:submenu>
			</p:submenu>
			
			<p:menuitem value="Sair" onclick="self.close()" icon="ui-icon-close"  />
		</p:menubar>
	</h:form>
</h:body>
</html>
