<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Partida</title>
</h:head>
<h:body>
	<h2 style="margin-top: 0">Partida</h2>
	<h:form id="formPartida">	
			
			<p:outputLabel 	value="Numero:" />
			<p:inputText value="#{partidaMB.novaPartida.numero}" />
			<br />
			
			<br />
			<p:outputLabel value = "Equipe Mandante: " />
           <p:selectOneMenu value="{inscricaoMB.novaInscricao}">
           <f:selectItem itemLabel="Selecionar" itemValue="" />
           <f:selectItems value="#{inscricaoMB.inscricoes}" 
           				var="aux"
						itemValue="#{aux}" itemLabel="#{aux.numero}" />
			</p:selectOneMenu>
			
			<br />
			<p:outputLabel value = "Equipe Visitante: " />
           <p:selectOneMenu value="{inscricaoMB.novaInscricao}">
           <f:selectItem itemLabel="Selecionar" itemValue="" />
           <f:selectItems value="#{inscricaoMB.inscricoes}" 
           				var="aux"
						itemValue="#{aux}" itemLabel="#{aux.numero}" />
			</p:selectOneMenu>

			<br />
			<p:outputLabel for="data" value="Data:" />
			<p:calendar id="data"
				value="#{partidaMB.novaPartida.data}"
				pattern="dd-MM-yyyy" mask="true" />
				
			<br />
			<p:outputLabel value = "Grupo: " />
           <p:selectOneMenu value="{grupoMB.novoGrupo}">
           <f:selectItem itemLabel="Selecionar" itemValue="" />
           <f:selectItems value="#{grupoMB.grupos}" 
           				var="aux"
						itemValue="#{aux}" itemLabel="#{aux.nome}" />
			</p:selectOneMenu>
			
			<br />
			<p:outputLabel value = "Próxima Partida: " />
           <p:selectOneMenu value="{partidaMB.novaPartida}">
           <f:selectItem itemLabel="Selecionar" itemValue="" />
           <f:selectItems value="#{partidaMB.partidas}" 
           				var="aux"
						itemValue="#{aux}" itemLabel="#{aux.numero}" />
			</p:selectOneMenu>
				
		
		<p:separator />
		<p:commandButton value="Salvar"  icon="ui-icon-disk" 
			action="#{partidaMB.salvar}" update=":formPartida" />
		
		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />	


	</h:form>

</h:body>
</html>
