<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Rodada</title>
</h:head>
<h:body>
	<h2 style="margin-top: 0">Rodada</h2>
	<h:form id="formRodada">	
			
			<p:outputLabel 	value="Numero:" />
			<p:inputText value="#{rodadaMB.novaRodada.numero}" />
			<br />
			
			<br />
			<p:outputLabel value = "Grupo: " />
           <p:selectOneMenu value="{grupoMB.grupo}">
           <f:selectItem itemLabel="Selecionar" itemValue="" />
           <f:selectItems value="#{grupoMB.grupos}" var="aux"
						itemValue="#{aux}" itemLabel="#{aux.nome}" />
			</p:selectOneMenu>
		
		<p:separator />
		<p:commandButton value="Salvar"  icon="ui-icon-disk" 
			action="#{rodadaMB.salvar}" update=":formRodada" />
		
		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />	


	</h:form>

</h:body>
</html>
