 <!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Rodada</title>
</h:head>
<h:body>
<h2 style="margin-top: 0">Rodada</h2>
<h:form id="formRodadaTabela">
<p:dataTable var="user" value="#{rodadaMB.rodadas}" rows="10"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15">

			<p:column headerText="Numero">
				<h:outputText value="#{user.numero}" />
			</p:column>
			
			<br />
			<p:column headerText="Grupo" >
				<p:outputLabel value = "Grupo: " />
	           <p:selectOneMenu value="{grupoMB.grupo}">
	           <f:selectItem itemLabel="Selecionar" itemValue="" />
	           <f:selectItems value="#{grupoMB.grupos}" var="aux"
							itemValue="#{aux}" itemLabel="#{aux.nome}" />
				</p:selectOneMenu>
			</p:column>


			<f:facet name="paginatorTopLeft">
				<p:commandButton type="button" icon="fa fa-sync" />
			</f:facet>

			<f:facet name="paginatorBottomRight">
				<p:commandButton type="button" icon="fa fa-cloud-upload" />
			</f:facet>
		
		</p:dataTable>
		<p:separator />
		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />
		<p:commandButton value="Novo" icon="ui-icon-plus"
			action="rodada.xhtml" />		
	</h:form>

</h:body>
</html> 
