<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
<meta charset="UTF-8" />
</h:head>
<h:body>
	<h2 style="margin-top:0">Usuários</h2>
	<h:form id="formUsuarioView">
		
		
		<p:outputLabel for="listUser" value="Selecionar Usuário:" />
        
        <p:selectOneListbox id="listUser" value="#{usuarioMB.usuarioSelecionado}" var="user" >
				<f:selectItems value="#{usuarioMB.lista}" var="user" itemLabel="#{user.nome}" itemValue="#{user}" />
	 	</p:selectOneListbox>
	        
	    


	</h:form>
</h:body>
</html>