<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Usuários</title>
</h:head>
<h:body>
	<h2 style="margin-top: 0">Usuários</h2>
	<h:form id="formUsuarioTabela">
		<p:dataTable var="user" value="#{usuarioMB.usuarios}" id="tabela"
		editable="true" rows="10"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15">

			<p:ajax event="rowEdit" listener="#{usuarioMB.update}" update="tabela" />

			<p:column colspan="2" headerText="Email">
			  <p:cellEditor>
			   	<f:facet name="output"><h:outputText value="#{user.email}" /></f:facet>
			   	<f:facet name="input"><p:inputText value="#{user.email}" style="width:100%" /></f:facet>
			  </p:cellEditor>
			</p:column>

			<p:column colspan="1" headerText="Nome">
			<p:cellEditor>
			   	<f:facet name="output"><h:outputText value="#{user.nome}" /></f:facet>
			   	<f:facet name="input"><p:inputText value="#{user.nome}" style="width:100%" /></f:facet>
			  </p:cellEditor>
			</p:column>

			<p:column colspan="1" headerText="Data de Nascimento" icon="ui-icon-calendar">
				<!-- <p:cellEditor> 
			   	<f:facet name="output">-->
			   	<h:outputText value="#{user.dataNascimento}"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText> <!--</f:facet>
				<f:facet name="input"><p:inputText value="#{user.dataNascimento}" style="width:100%" /></f:facet>
			   </p:cellEditor> -->
			</p:column>


			<p:column colspan="1" headerText="Telefone">
				<p:cellEditor>
			   	<f:facet name="output"><h:outputText value="#{user.telefoneFixo}" /></f:facet>
			   	<f:facet name="input"><p:inputText value="#{user.telefoneFixo}" style="width:100%" /></f:facet>
			   	</p:cellEditor>
			</p:column>

			<p:column colspan="1" headerText="Celular">
				<p:cellEditor>
			   		<f:facet name="output"><h:outputText value="#{user.telefoneMovel}" /></f:facet>
			   		<f:facet name="input"><p:inputText value="#{user.telefoneMovel}" style="width:100%" /></f:facet>
			   	</p:cellEditor>
			</p:column>

			<p:column colspan="2" headerText="Endereço">
				<p:cellEditor>
			   		<f:facet name="output"><h:outputText value="#{user.endereco}" /></f:facet>
			   		<f:facet name="input"><p:inputText value="#{user.endereco}" style="width:100%" /></f:facet>
			   	</p:cellEditor>
			</p:column>

			<p:column colspan="1" headerText="RG">
			<p:cellEditor>
			   		<f:facet name="output"><h:outputText value="#{user.rg}" /></f:facet>
			   		<f:facet name="input"><p:inputText value="#{user.rg}" style="width:100%" /></f:facet>
			   	</p:cellEditor>
			</p:column>

			<p:column colspan="1" headerText="CPF">
			<p:cellEditor>
			   		<f:facet name="output"><h:outputText value="#{user.cpf}" /></f:facet>
			   		<f:facet name="input"><p:inputText value="#{user.cpf}" style="width:100%" /></f:facet>
			   	</p:cellEditor>
			</p:column>

			<p:column colspan="1" headerText="Sexo">
			<p:cellEditor>
			   		<f:facet name="output"><h:outputText value="#{user.sexo}" /></f:facet>
			   		<f:facet name="input"><p:inputText value="#{user.sexo}" style="width:100%" /></f:facet>
			   	</p:cellEditor>
			</p:column>
			
			
			<p:column headerText="Opções">
				<p:commandLink action="#{usuarioMB.gerenciar(user)}" >
					<h:outputText value="Gerenciar"/>
				</p:commandLink>				
			</p:column>
 
			<f:facet name="paginatorTopLeft">
				<p:commandButton type="button" icon="fa fa-sync" />
			</f:facet>

			<f:facet name="paginatorBottomRight">
				<p:commandButton type="button" icon="fa fa-cloud-upload" />
			</f:facet>

			
			<p:column style="width:32px">
           		<p:rowEditor />
           		<p:commandLink 
           		id="deletar" actionListener="#{usuarioMB.remover(user)}" 
           		styleClass="ui-icon ui-icon-trash" style="text-align:center" 
           		action="usuariotabela.xhtml" update="tabela" />
       	   	</p:column>
			
		</p:dataTable>
		<p:separator />
		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />
		<p:commandButton value="Novo" icon="ui-icon-plus"
			action="usuario.xhtml" />

	</h:form>
</h:body>
</html>