<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Usuário</title>
</h:head>
<h:body>
<h2 style="m argin-top:0">Cadastro de Usuário</h2>
	<h:form id="formUsuario">
		<h:panelGrid columns="2">

			<p:outputLabel value="Email: " />
			<p:inputText value="#{usuarioMB.novoUsuario.email}" />

			<p:outputLabel value="Nome: " />
			<p:inputText value="#{usuarioMB.novoUsuario.nome}" />
			
			<p:outputLabel for="mask" value="Data de Nascimento:" />
			<p:calendar id="mask" value="#{usuarioMB.novoUsuario.dataNascimento}"
				pattern="dd-MM-yyyy" mask="true" />

			<p:outputLabel value="Telefone Fixo: " />
			<p:inputMask id="telefone" value="#{usuarioMB.novoUsuario.telefoneFixo}" mask="(99) 9999-9999"/>

			<p:outputLabel value="Telefone Movel: " />
			<p:inputMask id="celular" value="#{usuarioMB.novoUsuario.telefoneMovel}" mask="(99) 99999-9999" />

			<p:outputLabel value="Endereço: " />
			<p:inputText value="#{usuarioMB.novoUsuario.endereco}" />

			<p:outputLabel value="RG: " />
			<p:inputMask id="RG" value="#{usuarioMB.novoUsuario.rg}" mask="99.999.999-9"/>

			<p:outputLabel value="CPF: " />
			<p:inputMask id="CPF" value="#{usuarioMB.novoUsuario.cpf}" mask="999.999.999-99"/>


			<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
				<p:outputLabel for="sexo" value="Sexo:" />
				<p:selectOneRadio id="sexo" value="#{usuarioMB.novoUsuario.sexo}">
					<f:selectItem itemLabel="Masculino" itemValue="MASCULINO" />
					<f:selectItem itemLabel="Feminino" itemValue="FEMININO" />
				</p:selectOneRadio>
			</h:panelGrid>
	
		</h:panelGrid>
		<p:separator />
		<p:commandButton value="Salvar"  icon="ui-icon-disk" 
			action="#{usuarioMB.salvar}" update=":formUsuario" />

		<p:commandButton value="Voltar" icon="ui-icon-arrowrefresh-1-w"
			action="menu.xhtml" />
	
</h:form>
</h:body>
</html>
